[Unit]
Description=SSH SOC Monitor
After=network.target

[Service]
ExecStart=/bin/bash /home/mariangel/soc-alerting/scripts/soc-engine.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
